/* ====================================
// css variables
// ==================================== */

:root {
}

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.5rem;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* ====================================
// base rules
// ==================================== */

body {
  max-height: 320px;
}

nav a {
  font-size: 16px;
}

h1 {
  font-size: 11px;
  font-weight: 700;
  text-align: center;
  color: white;
  background-color: red;
  border-radius: 50px;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  line-height: 1.2;
}

h3 {
  font-size: 16px;
  font-weight: 700;
}

.dark-section {
  background-color: #ebede7;
}

.onglet {
  background-color: white;
}